h1{
    color: white;
    text-align: center;
    background-color: black;
    line-height: 100px;
    text-shadow: 12px 4px 12px yellow;
    font-size: 80px;
}
h1:hover{
    background-color: lightblue;
}