h1#heading1{
    text-align: center;
}
.paragraph{
    font-family: Dejavu sans-serif;
    font-size: 18px;

}
#mydivision{
    background-color: dodgerblue;
    margin: 40px;
    padding: 30px;
    color: whitesmoke;
}

#test{
    background-color: lightgray;
    margin: 40px;
    padding: 40px;
    display: flex;
    color: whitesmoke;
}
#test img{
    margin-right: 40px;
    border-radius: 400px;

}
#main{
    display: flex;
}
#advertisement{
    background-color: red;
    color: whitesmoke;
    margin-left: 20px;
    padding: 30px;
    box-shadow: 8px 6px 12px 4px greenyellow;
    
}
#accounting{
    background-color: blue;
    color: whitesmoke;
    margin-left: 20px;
    padding: 30px;
    box-shadow: 8px 6px 12px 4px greenyellow;
    }

    #payment{
        background-color: greenyellow;
    color: whitesmoke;
    margin-left: 20px;
    padding: 30px;
    box-shadow: 8px 6px 12px 4px greenyellow;
     }

     #advertisement:hover,#accounting:hover,#payment:hover{
        background-color: grey;
     }