h1{
    color: whitesmoke;
    text-align: center;
    font-size: 80px;
    font-weight: bolder;
    background-color: black;
    text-shadow: 10px 4px 10px yellow;
    text-decoration: underline;
}
h1:hover{
    background-color: lightblue;
}

img{
    width: 200px;
    height: 200px;
}